<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台</title>
    <script src="/static/vue.min.js"></script>
    <link rel="stylesheet" href="/static/iview.css">
    <script src="/static/iview.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="shortcut icon" href="/static/icon.png">
</head>
<body>
    <h1>后台</h1>
    <p>我肝已经爆掉了，所以后台就搞成这样算了</p>
    <p>你的留言箱链接是：http://gmb.whl.red/{{.shortname}}</p>
    <p>下面是文件</p>
    {{range $index,$ele := .filelist}}
    <a href="backtable/{{$ele}}?password={{$.password}}">{{$ele}}</a>
    <br/>
    {{end}}
</body>
</html>